In [1]:
import pandas as pd

In [2]:
# create filepath for csv
data = "cleancitydata.csv"

In [3]:
# read csv file
weather_df = pd.read_csv(data)
weather_df.head()

,City,Latitude,Longitude,Max Temp (F),Humidity %,Cloudiness %,Wind Speed (mph),Country,Date
0,Port Lincoln,-34.73,135.87,60.278,62,25,10.200446,AU,1595989716
1,Ushuaia,-54.80,-68.30,35.600,80,40,20.803542,AR,1595989716
2,Cayenne,4.93,-52.33,78.800,88,26,12.504495,GF,1595989716
3,Treinta y Tres,-33.23,-54.38,36.212,84,0,5.883152,UY,1595989717
4,Longyearbyen,78.22,15.64,51.800,81,75,11.408394,SJ,1595989645

In [4]:
# export to html file
weather_df.to_html("data.html", index=False)